@import 'scss/variables.scss';

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 80%;
    max-width: 1rem;
    border-radius: 12px;
    background-color: lighten($secondary, 7%);
  }

  &__fill {
    width: 100%;
    background-color: $primary;
    transition: all 0.3s ease-out;
  }

  &__label {
    font-size: .6rem;
    text-align: center;
  }

  @media (min-width: 450px) {
    &__label {
      font-size: .75rem;
    }
  }
}